section {
    position: absolute;
    top: 80px;
    left: 250px;
    max-width:600px;
}
img {
    max-width:150px;
    display:inline-block;
    width:30%;
    padding: 5px;
    border-radius: 10px;
}
table {
    display: block;
    border-collapse: collapse;
  }
th, td {
    border: 1px solid #444444;
    padding: 10px;
}
  
img:hover{
    cursor: pointer;
    color: aliceblue;
}

.bar{
    font-size: 20px;
    float: right;
}

#player{
    display: inline;
    position: absolute;
    /* right:10px; */
    left: 400px;
    /* align-items : right; */
}

button {
  /* 생략 */
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}